.contentInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: auto;
    padding: 2rem;
  }
  
  .contentInput input {
    width: 20rem;
    height: 3.5rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    box-direction: none;
    border: 1px solid rgba(88, 88, 88, 0.901);
    box-shadow: inset 0px 0px 2px 0px var(--var-color2);
  }
  
  .contentInput input:focus {
    outline: none;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  }
  
  .contentBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: auto;
  }
  
  .btnSignUp {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    border: none;
    background-color: var(--var-color2);
    color: var(--var-color4);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btnSignUp:hover {
    background-color: #4d84ecb3;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    color: var(--var-color4);
  }
  
  .contentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: auto;
    margin-top: 3rem;
  }
  