<div>
  <div class="contentInput">
    <h1 class="title">Login</h1>
    <form (submit)="submitForm()" class="form">
      <input
        type="text"
        placeholder="Name"
        [(ngModel)]="name"
        name="name"
        required
      />
      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        required
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
      />
      <button type="submit" class="btnLogin">Login</button>
      <button class="redirectSignUp" (click)="redirectSignUp()">Pas de compte ?</button>
    </form>
  </div>
</div>
